

<app-header></app-header>
<!-- <app-ngxdemo></app-ngxdemo> -->
<router-outlet></router-outlet>
<br><br>

<button mat-button>Button</button>
<button mat-raised-button>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
</button><br>
<br>
<br>

<mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  





<!-- <table border> -->
    <!--<tr><td attr.colspan="{{cols}}">{{title}}</td></tr> -->
    <!-- <tr><td [attr.colspan]="cols">{{title}}</td></tr>

    <tr>
      <tr>
          <td>FirstName</td>
          <td>{{fname}}</td>
      </tr>
      <tr>
        <td>LastName</td>
        <td>{{lname}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{gender}}</td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>{{salary}}</td>
    </tr>
  </table> -->

  <!--Employee Component Data-->
  <!-- <app-employee></app-employee> -->

  <!-- <div *ngIf="displaydiv">This is div tag</div> -->

<!-- <div *ngIf="displaydiv;else elseBlock">
    <h3>This is true block</h3>
</div>
<ng-template #elseBlock>
    this is false block
</ng-template> -->


<!-- <div *ngIf="displaydiv; then tblock else fblock">
</div>
<ng-template #tblock>hello</ng-template>
<ng-template #fblock><h1>good bye</h1></ng-template>

<ng-template [ngIf]="displaydiv">
    <h3>This is true block</h3>
</ng-template> -->

<!-- <ol *ngFor="let k of colors">
    <li>{{k}}</li>
</ol> -->

<!-- <div *ngFor="let key of colors;index as i;
first as f;last as l;even as e;odd as o">
    <h2>{{i}} {{key}} {{f}} {{l}} {{e}} {{o}}</h2>
</div> -->

<!-- <app-assignment></app-assignment> -->

<!-- <app-emp-list></app-emp-list> -->

<!-- <app-trvdemo></app-trvdemo> -->
<!-- <app-parentlifecycle></app-parentlifecycle> -->

<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-interfacedemo></app-interfacedemo> -->
<!-- <app-classdemo></app-classdemo> -->

<!-- <app-createemployee></app-createemployee> -->
<!-- <app-reativeformdemo></app-reativeformdemo> -->